body{
  background-color:#99e9f2;
}



.App {
  text-align: center;


}
.taskBg{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: left;
  margin-bottom: 10px;
  font-size:22px;
  padding: 10px 140px 10px 15px;
  position: relative;
  background-color: #c5f6fa;
}

.taskNumber{
  color:#999;
  border:1px solid #999;
  border-radius: 50%;
  width:26px;
  height:26px;
  display:flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items:center;
  justify-content: center;
}
.taskBg .taskTest{
  flex:1;
}
.taskBg .done .taskText{
  text-decoration: line-through;
  opacity:0.3;
  
}
.taskBg div{
  display: flex;
  align-items: center;
}

.taskBg .iconsWrap{
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 right:15px;
 width: auto;
 display: inline-block; 
}
.taskBg .iconsWrap span{
  display:inline-block;
  margin:0px 10px 0px 10px;
  cursor:pointer;
  color:black;
}

.taskBg .iconsWrap span:hover{
  color: gray;
}

.mr-20{
  margin-right:20px;
}